<!Doctype HTML>
<html>
    <head>
        <title>To The Few</title>
        <link rel="stylesheet" href="/public/libs/bootstrap/dist/css/bootstrap.min.css">
    </head>
    <body>
        <script type="text/javascript" src="/public/libs/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="/public/libs/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/public/libs/moment/moment.js"></script>
        <script type="text/javascript" src="/public/libs/handlebars/handlebars.min.js"></script>
    </body>
</html>
