<!Doctype HTML>
<html ng-app="restAPP">
    <head>
        <title>To The Few</title>
        <link rel="stylesheet" href="/public/libs/bootstrap/dist/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">

            <div class="row">
                <div class="col-xs-12">
                    <h1>REST Application</h1>
                    <h2>The api is hosted at http://localhost/api/v1/</h2>
                </div>
            </div>

            <div ng-controller="UserCtrl" >
                <div class="row">
                    <div class="well" ng-hide="isAuthenticated()">
                        <form class="form">
                            <h3>Login / Register</h3>

                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" name="name" ng-model="name" class="form-control">
                            </div>

                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" name="password" ng-model="password" class="form-control">
                            </div>

                            <div class="form-group">
                                <div class="btn-group">
                                    <button ng-click="login()" class="btn btn-success">Login</button>
                                    <button ng-click="register()" class="btn btn-primary">Register</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="row" ng-show="isAuthenticated()">
                        <div class="col-xs-12">
                            <div class="alert alert-success"><strong>Success:</strong> Logged in.
                                <button ng-click="logout()" class="btn btn-success btn-sm pull-right" style="margin-top:-4px;">Logout</button>
                                <div class="clear"></div>
                            </div>

                        </div>
                    </div>

                    <div class="row" ng-show="isAuthenticated()">

                    </div>


                </div>
            </div>

        </div>



        <script type="text/javascript" src="/public/libs/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="/public/libs/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/public/libs/moment/moment.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <script type="text/javascript" src="/public/api.js"></script>
        <script type="text/javascript" src="/public/main.js"></script>
    </body>
</html>
